<div class="cuadro animate__animated animate__fadeIn animate__faster" >

    <h2>Buscar por Región</h2>
    <hr>
    
    <h5>Seleccione la región</h5>
    
    <!-- [class.btn-primary]="region === regionActiva" -->
    <!-- [ngClass]="{
       'btn-primary': regionActiva === region,
       'btn-outline-primary': regionActiva !== region
    
    }" -->
    <div class="row">
        <div class="col">
            <button 
            (click)="activarRegion(region)"
            [class]="getClassCSS(region) "
            *ngFor="let region of regiones">
                {{region | titlecase}}
            </button>
        </div>
    </div>

</div>


<div *ngIf="paises.length > 0" class="row">
    <div class="col ">
        <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>